# Node modules (both backend & frontend)
node_modules/
.pnpm/

# Build output
dist/
build/
*.tsbuildinfo

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
.env
.env.local
.env.*

# DB files
drizzle/
*.sqlite

# IDE stuff
.vscode/
.idea/
.DS_Store

# Optional: OS/Editor stuff
Thumbs.db
*.swp
*.swo

backend/db
backend/db_data
